input[type='text']{
    margin: 1rem;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    width: 241px;
    height: 38px;
    border-radius: 4px;
    background-color: rgb(255,255,255);
    border-color: rgb(206,212,218);
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
}

input[type='text']:active, input[type='text']:focus{
    border-color: #7952b3;
    box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}

.display-cities table {
    text-align: center;
    width: 100%;
}

.display-cities table  th, .display-cities table  td {
    padding: 8px;
    border-bottom: 1px solid rgb(222,226,230);
}

.display-cities table  th{
    font-weight: 700;
}

.flag {
    width: 20%;
    object-fit: cover;
}

.page-limit {
    display: flex;
    justify-content: space-between;
}

input[type='number']{
    margin-right: 10px;
    padding: 6px;
    outline: none;
    border-radius: 4px;
}

input[type='number']:active, input[type='number']:focus{
    border-color: #7952b3;
    box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}

.no-data {
    margin: 1rem 0;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}